<h1>New Recipes </h1>

<%= form_for @receipe do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :Name %>
    <br />
    <%= f.label :PreparationTime %>
    <%= f.text_field :PreparationTime %>
    <br />
    <%= f.label :CookingTime %>
    <%= f.text_field :CookingTime %>
    <br />
    <%= f.label :Public %>
    <%= f.check_box :Public %>
    <br />
    <%= f.submit %>
<% end %>