<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <div class="flash-message">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id =>  "flash_#{name}" if msg.is_a?(String) %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
